@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import "./reset";
@import "./mixins";

body {
  width: 100%;
  height: 100vh;
  background-color: #daebfd;
  overflow: hidden;
}

.wrapper {
  width: 756px;
  height: 496px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #0066e9 0px 2px 100px -12px;
  border-radius: 36px;
}

#title {
  font-size: 36px;
}

#text {
  font-size: 16px;
}

#button_box {
  width: 176px;
  height: 42px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

#monthly,
#yearly {
  width: 84px;
  height: 36px;
  cursor: pointer;
  border-radius: 24px;
  border: none;
  outline: none;
  text-align: center;
  background-color: #000;
  color: oldlace;
}

.active {
  background-color: #fff !important;
  transition: 0.8s;
  color: #000 !important;
}

#lists {
  display: flex;
  gap: 60px;
}

.lists__basic {
  width: 232px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: #f9f7f4;
  border-radius: 16px;
  padding: 0 8px;
  color: #203158;
  button {
    width: 84px;
    height: 36px;
    cursor: pointer;
    border-radius: 24px;
    border: none;
    outline: none;
    text-align: center;
    background-color: #00b3af;
    color: oldlace;
  }
}

.lists__standard {
  width: 348px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: #0066e9a1;
  border-radius: 15px;
  padding: 0 8px;
  color: #f9f7f4;
  button {
    width: 84px;
    height: 36px;
    cursor: pointer;
    border-radius: 24px;
    border: none;
    outline: none;
    text-align: center;
    background-color: #000;
    color: oldlace;
  }
}

#copyright {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #203158;
}
a {
  color: #0066e9a1;
}
.popup {
  width: 204px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -150%;
  top: 50%;
  border-radius: 12px;
  color: oldlace;
  letter-spacing: 2px;
  transition: 0.6s all ease-in-out;
  background-color: #0066e9a1;
  font-size: 12px;
}